<%- include('../lesheader');-%> <%- include('lesson1Nav');-%>

<div class="container">
  <!--  -->
  <div class="row">
    <h1 class="display-1"><%= l1Title %></h1>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">

      <ul>
        
      
      <%for(var i=0;i<l1Content.length;i++){%>
        <li>
          <p class="h3 "><%= l1Content[i] %></p>
          
        </li>
      <%}%>
      </ul>
    </div>
  </div>

  <div class="row">
    
    <h1 class="display-1">What is HTML 5?</h1>
   
</div>

<div class="row">
 <div class="col-10 mx-auto">
    <ul>

      <%for(var i=0;i<l2Content.length;i++){%>
          <li>
            <p class="h3 "><%= l2Content[i] %></p>
      
          </li>
        <%}%>
    </ul>
</div>
  </div>
      <!-- <img class="mx-auto" src="/img/l1-2.png" alt="" /> -->

</div>

<%- include('../lesfooter'); -%>
