<%- include('../lesheader');-%> <%- include('lesson1Nav');-%>

<div class="container">
  <div class="row">
    <h1 class="display-1"><%= l1Title %></h1>
  </div>

  <div class="row">
    <div class="col-10 mx-auto py-3">
      <p class="h3"><%= l1Content %></p>
      <img class="img-fluid my-5" src="/img/l1-1.png" alt="image" />
    </div>
  </div>
</div>

<%- include('../lesfooter'); -%>
